<%= form_for(@autoridad) do |f| %>
  <% if @autoridad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autoridad.errors.count, "error") %> prohibited this autoridad from being saved:</h2>

      <ul>
      <% @autoridad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :autoridad %><br />
    <%= f.text_field :autoridad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
