<h1>Listing dependientes</h1>

<table>
  <tr>
    <th>Perfil</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dependientes.each do |dependiente| %>
  <tr>
    <td><%= dependiente.perfil_id %></td>
    <td><%= link_to 'Show', dependiente %></td>
    <td><%= link_to 'Edit', edit_dependiente_path(dependiente) %></td>
    <td><%= link_to 'Destroy', dependiente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dependiente', new_dependiente_path %>
