<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @perfil.nombre %>
</p>

<p>
  <b>Apellidopaterno:</b>
  <%= @perfil.apellidoPaterno %>
</p>

<p>
  <b>Apellidomaterno:</b>
  <%= @perfil.apellidoMaterno %>
</p>

<p>
  <b>Curp:</b>
  <%= @perfil.curp %>
</p>

<p>
  <b>Fechadenacimiento:</b>
  <%= @perfil.fechaDeNacimiento %>
</p>

<p>
  <b>Genero:</b>
  <%= @perfil.genero %>
</p>


<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
